@mixin ellipsisNoWrap() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin tableArea {
  margin-top: -1px;
  flex: 1;
  min-height: 0px; /* hack for flex grow issue. */
}
