.demo-layout-root\.html {
    .layout-root {
        height: 300px;
        .header,
        .footer,
        .main {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
        }

        .header,
        .footer {
            background-color: #B3C0D1;
        }
        .main {
            background-color: #D9DEE3;
        }
    }
}
