.demo-layout-root\.html {
  .layout-root {
    height: 300px !important;
    .header,
    .footer,
    .main {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
    }

    .header,
    .footer {
      background-color: #b3c0d1;
    }
    .main {
      background-color: #d9dee3;
    }
  }
}
