body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd, figure {
  margin: 0px; 
  padding: 0px; 
};
ul { 
  list-style: none
};
img { 
  border-style: none
};

// ::-webkit-scrollbar { 
//   width: 8px; 
//   height: 8px; 
//   background:#b9b9b9; 
// } 
// ::-webkit-scrollbar-button { 
//   display: none; 
// } 
// ::-webkit-scrollbar-thumb { 
//   border-radius: 10px; 
//   background: #62ceb7; 
// } 
// ::-webkit-scrollbar-track { 
//   border-radius: 10px; 
//   background: #b9b9b9; 
// } 