.el-button {
  height: 28px;
  text-align: justify;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  > span {
    min-width: 33px;
    text-align: justify;
    text-align-last: justify;
    line-height: 18px;
    font-weight: 500;
  }
  + .el-button {
    margin-left: 4px;
  }
}
.el-button,
.el-button.is-round {
  padding: 4px 12px;
}

.el-button.is-circle {
  padding: 4px;
  > span {
    min-width: auto;
  }
}
// 主要按钮
.el-button--primary,
.el-button--primary.is-plain {
  color: $--color-primary;
  background: $--color-white;
  border-color: mix($--color-white, $--color-primary, 50%);

  &:hover,
  &:focus {
    color: $--color-primary;
    background: mix(
      $--color-primary,
      $--color-white,
      $--button-active-shade-percent
    );
    border-color: mix($--color-white, $--color-primary, 50%);
  }

  &:active {
    // color: $--color-primary;
    color: #2958a7;
    background: mix(
      $--color-primary,
      $--color-white,
      $--button-active-shade-percent
    );
    border-color: $--color-primary;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($--color-white, $--color-primary, 50%);
      background-color: $--color-white;
      border-color: mix($--color-white, $--color-primary, 50%);
    }
  }
}

.el-button.el-button--text {
  padding: 0;
  &.is-disabled {
    color: mix($--color-white, $--color-primary, 50%);
  }
}

// 次要按钮
.el-button--default,
.el-button--default.is-plain {
  color: #606266;
  background: $--color-white;
  border-color: mix($--color-black, $--color-white, 15%);

  &:hover,
  &:focus {
    color: $--color-primary;
    background: $--color-white;
    border-color: mix($--color-white, $--color-primary, 50%);
  }

  &:active {
    // color: $--color-primary;
    color: #2958a7;
    background: $--color-white;
    border-color: $--color-primary;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($--color-white, #606266, 50%);
      background-color: $--color-white;
      border-color: mix($--color-black, $--color-white, 10%);
    }
  }
}

.el-button--danger.is-plain,
.el-button--danger.is-plain.is-disabled {
  background-color: #ffffff;
}

.el-button.is-dash {
  border-style: dashed;
}
