.dpui_btn_grp_wrapper {
  display: flex;
  white-space: nowrap;
  .group {
    padding: 0 6px;
    .el-button + .el-button {
      margin-left: 6px;
    }
  }
  .group + .group {
    border-left: 1px solid #c0c0c0;
  }
}
