.dpui_searchBar {
    display: flex;
    align-items: center;
    height: 100%;
    .el-form {
      display: flex;
      .el-form-item {
        margin-right: 4px;
        margin-bottom: 0;
      }
    }
    .searchBtn {
      padding: 5px 8px;
      .filter {
        display: inline-block;
        position: relative;
        margin-left: 2px;
        top: 1px;
        left: 1px;
        height: 12px;
        width: 12px;
        background-image: url('img/icons/filter.png');
      }
    }
  }