.dpui_statistics_wrapper {
  ul {
    padding: 3px 1px 5px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    li {
      padding: 6px;
      width: 50%;
      max-width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label {
        color: #999999;
      }
      .value {
        /* display: inline-block;
        width: 100px; */
      }
      .numerator {
        color: #2f63b9;
      }
      .unit {
        margin-left: 3px;
      }
    }
  }
}
