.dp-subtitle {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 6px;
    padding-right: 16px;
    border-bottom: 2px solid #2F63B9;
    &__text {
        color: #333333;
        font-size: 13px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}