.dpui_title_wrapper {
  .title {
    display: inline-block;
    color: #2f63b9;
    padding: 6px;
    margin: 0 6px;
    border-bottom: 2px solid #2f63b9;
    &.l1 {
      font-size: 16px;
      height: 40px;
      box-sizing: border-box;
      padding: 12px 6px;
      font-weight: bold;
    }
    &.l2 {
      font-size: 13px;
    }
  }
}
